.anjuta/
.anjuta_sym_db.db
octetos_cobgl.anjuta
*~
src/*~
Debug/
autom4te.cache/
Makefile.in
aclocal.m4
cobgl.anjuta
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
